# Windows Store app package directories and files
/iraspa/windowsstore/Images/
/iraspa/windowsstore/iraspa/
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*_StoreKey.pfx
*_TemporaryKey.pfx
*_pkginfo.txt
*.appxmanifest
*.appx
*.appxbundle
*.appxupload

#cmake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# raspa test-executables
test_*
restart_data.bin
examples/*/*/run
**/run

dependencies.sh
examples/*/*/output/

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.dll
*.sobea
*.dylib
*.so
*.pcm
*.exe

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Qt-es
object_script.*.Releasecd be	
object_script.*.Debug
*_plugin_import.cpp
*.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# Visual studio user-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio 2015/2017/2019 cache/options directory
.vs/
.vscode/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Python virtual environments
venv/
env/
ENV/
.venv/
.pyenv/
**/__pycache__/
.cache/
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
mypy_cache/
.pyre/
.pytype/

# pybind11
CMakeLists.txt.user
pybind11/
.build/
.venv/
.env/
.ipynb_checkpoints/
*.so
*.dll
*.dylib

## Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
manual/raspa-manual.pdf


# Built files
build/
dist/
*.egg-info/
.installed.cfg
*.egg
